jupyter
jupyterlab
matplotlib
numpy==1.26.4
pandas
scikit-learn
plotly
joblib
tensorflow>=2.16.2
python-dotenv==1.0.1
colorlog==6.4.1
#pyspark>=2.4.8
pyarrow==17.0.0
argon2-cffi==23.1.0
kaleido==0.2.1
tornado
IPython
requests
