jupyter
jupyterlab
matplotlib
numpy
pandas
scikit-learn
plotly
joblib
tensorflow
python-dotenv
colorlog
#pyspark>=2.4.8
pyarrow
argon2-cffi
kaleido
tornado
IPython
requests
typing_extensions
jupyter_server
scipy
